.about-con{background-color:#fff;border:1px solid #e4e4e4;padding:10px 15px;}
.about-con h4{color:#e72324;margin:0;}
.about-con h4 small{color:#2e4f9c;font-size:12px;padding-left:5px;}
.about-con .pull-right span{color:#2e4f9c;}
.about-con .pull-right a{color:#444;}
.about-con .pull-right a:hover,.about-con .pull-right a:focus{color:#2e4f9c;}

.about-panel{border:1px solid #e4e4e4;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.about-panel .panel-heading{background:url(../img/about-bg.png) repeat-x left;border-bottom:1px solid #e4e4e4;padding:15px;}

.about-panel-nav{padding:20px 0;}
.about-panel-nav ul{margin:0;}
.about-panel-nav ul li{padding:0 35px 0 40px;}
.about-panel-nav ul li + li{border-top:1px solid #e8e6e7;}
.about-panel-nav ul li a{font-size:16px;display: block;line-height:3em;color:#444;padding-left:10px;position:relative;}
.about-panel-nav ul li a:before{content: '';position:absolute;border-left:6px solid #454344;border-top:5px solid transparent;border-bottom:5px solid transparent;left:-10px;top:1.2em;}
.about-panel-nav ul li a span{color:#c4c4c4;font-size:14px;}
.about-panel-nav ul li a:hover{text-decoration: none;}
.about-panel-nav ul li:hover a,.about-panel-nav ul li:hover a span{color:#3566cc;}
.about-panel-nav ul li:hover a:before{border-left:6px solid #3566cc;}

.service-table thead th{background-color:#c32136;color:#fff;}
.service-table tbody th{background-color:#efefef;direction: inherit;}
.service-table th,.service-table td{text-align: center;vertical-align: middle !important;}
.service-table td span{color:#e54746;}
.service-table td h4{color:#e54746;}
.service-table td a{color:#fff;background-color:#e54746;border-color:#e54746;}
.service-table td a:hover{color:#fff;background-color: #ef4847;border-color: #ed4847;}
.service-table caption{color:#e54746;border-bottom:1px solid #e54746;margin-bottom:20px;}