.tender-module-first{margin-top:15px;}
.tender-module .row{margin-left:-5px;margin-right:-5px;}
.tender-module .col-sm-3,.tender-module .col-sm-2,.tender-module .col-sm-6,.tender-module .col-sm-4,.tender-module .col-sm-8,.tender-module .col-sm-9,.tender-module .col-sm-10,.tender-module .col-sm-12{padding-left:5px;padding-right:5px;}
.tender-panel1{border-color:#e4e4e4;margin-bottom:10px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel1 .panel-heading{background:url(../img/m-bg1.png) repeat-x left top #ececec;border-bottom:1px solid #2c5ab0;padding:0;}
.tender-panel1 .panel-title{background:url(../img/m-bg.png) no-repeat left bottom;padding:6px 15px;font-size:14px;}
.tender-panel1 .panel-title a{color:#676767;padding:0 12px;}
.tender-panel1 .panel-title a.pull-right{padding-right:0;}
.tender-panel1 .panel-title a:hover,.tender-panel1 .panel-title a:focus{text-decoration: none;}
.tender-panel1 .panel-title>span{color:#fff;margin-right:30px;}
.tender-panel1 .panel-body>ul{margin-bottom:0;}
.tender-panel1 .panel-body>ul>li{overflow:hidden;padding:5px 0;}
.tender-panel1 .panel-body>ul>li a{position:relative;color:#2c5ab0;white-space: nowrap;display:block;overflow:hidden;line-height:1.5em;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.tender-panel1 .panel-body>ul>li a span{color:#fe0000;}
.tender-panel-body1>ul>li a{padding-left:10px;position:relative;line-height:1.8em;}
.tender-panel-body1>ul>li a:before{content: '';position:absolute;display:block;width:4px;height:4px;background-color:#444;left:0;top:50%;margin-top:-2px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.tender-panel-body1>ul>li a span.download{background-color:#3e6cc2;color:#fff;padding:1px 5px;}

.tender-panel2{border:0;margin-bottom:10px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel2 .panel-heading{background:url(../img/panel2-bg.png) repeat-x left top #ececec;padding:0;}
.tender-panel2 .panel-title{text-align: center;color:#fff;padding:6px 0;}
.tender-panel2 .panel-body{padding:23px 20px 15px;}

.index-slide{position:relative;margin-bottom:10px;}
.index-slide-bd a img{width:100%;}
.index-slide-hd{position:absolute;bottom:10px;text-align: center;width:100%;z-index: 10;}
.index-slide-hd ul{display:inline-block;margin-bottom:0;}
.index-slide-hd ul li{float:left;margin:0 5px;height:12px;width:12px;background-color:#fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.index-slide-hd ul li.on{background-color:#fe0000;}

/*登录框*/
.index-login{padding:10px 0;}
.index-login .input-group{margin-bottom:20px;position:relative;}
.index-login .form-control{height:auto;
    padding: 3px 12px 3px 30px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.index-login .input-group span.iconfont{position:absolute;left:55px;}
.index-login .input-group-addon{background:none;border:0;}
.input-login-label{padding-left:55px;}
.input-login-label .checkbox{margin-right:50%;color:#454545;padding-left:20px;}
.input-login-label a{color:#454545;}
.index-login-btn{background-color:#4271c9;color:#fff !important;}

.tender-panel2-btn{background-color:#f9f9f9;display:block;border-color:#d0d0d0;color:#4271c9;padding:11px 0 11px 66px;margin-bottom:8px;position: relative;font-size:16px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel2-btn .iconfont{position:absolute;left:0;top:0;bottom:0;width:66px;background-color:#5786ca;color:#fff;font-size:26px;}
.tender-panel2-btn.on .iconfont{background-color:#e12b2a !important;}
.tender-panel2-btn.on{color:#e12b2a !important;}

.tender-panel-body2 ul{overflow:hidden;}
.tender-panel-body2 li{float:left;margin-top:-1px;margin-left:-1px;padding:0 !important;}
.tender-panel-body2 li a{border-top:1px solid #e4e4e4;color:#444;border-left:1px solid #e4e4e4;text-align: center;line-height:2em !important;padding:5px 0;}
.tender-panel-body2 li a .iconfont{color:#4371cf !important;display:block;font-size:2em;}
.tender-panel-body2 li a.on .iconfont{color:#e12b2a !important;}
.tender-panel-body2 li a:hover,.tender-panel-body2 li a:focus{text-decoration: none;}

/*banner-ad*/
.tender-ad img{width:100%;}
.tender-ad{margin-bottom:10px;}

.panel-table{display:table;width:100%;}
.panel-table>ul{display:table-cell;}
.tender-panel-body3 a{display:table-cell;text-align: center;color:#444;}
.tender-panel-body3 a img{max-width:100%;}
.tender-panel-body3 a:hover,.tender-panel-body3 a:focus{text-decoration: none;}

.tender-panel3{margin-bottom:10px;border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
/*.tender-panel3 .panel-heading{padding:0;background:url(../img/rl-bg.png) repeat-x left top #ececec;}*/
/*.tender-panel3 .panel-title{color:#fff;text-align: center;padding:8px 0;}*/
/*.tender-panel3 .panel-title a.pull-left{background:url(../img/rl-bg1.png) no-repeat right;padding:0 6px;}*/
/*.tender-panel3 .panel-title a.pull-right{background:url(../img/rl-bg1.png) no-repeat left;padding:0 6px;}*/
/*.tender-panel3 .panel-title a:hover,.tender-panel3 .panel-title a:focus{text-decoration: none;}*/
.datepicker-inline,.datepicker table{width:100% !important;}
.table-condensed thead tr:nth-child(2){background:url(../img/rl-bg.png) repeat-x left top #ececec;}
.table-condensed thead th{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;}
.table-condensed thead tr:nth-child(2) th{color:#fff;}
.table-condensed thead tr:nth-child(2) th.prev{background:url(../img/rl-bg1.png) no-repeat right;}
.table-condensed thead tr:nth-child(2) th.next{background:url(../img/rl-bg1.png) no-repeat left;}
.table-condensed thead tr:nth-child(2) th:hover{background:none;}
.table-condensed thead tr:nth-child(3){color:#ccc;border:1px solid #e6e6e6;}
.table-condensed tbody tr td{border:1px solid #e6e6e6 !important;}

.tender-panel3 .panel-body{padding:0;}
.panel-table2{display:block;border:1px solid #e6e6e6;margin-bottom:0;}
.panel-table2 tr{width:100%;}
.panel-table2 tr td{border-left:1px solid #e6e6e6;padding:7px !important;}
.panel-table2 tr td a{display:block;text-align: center;color:#444;}
.panel-table2 tr td a:hover,.panel-table2 tr td a:focus{text-decoration: none;}
.panel-table2 tr td.pass{background-color:#ebebeb;color:#a0a0a0;}
.panel-table2 tr td.on{color:#fff;background-color:#4370c3;}
.panel-table2 tr td.pass a{color:#a0a0a0;}
.panel-table2 tr td.on a{color:#fff;}
.panel-table2 th{font-size:.5em;color:#b3b3b3;text-align: center;font-weight:200;height:27px;border-bottom:1px solid #e6e6e6;padding:7px !important;}

.tender-panel-body4 .col-sm-4+.col-sm-4{border-left:1px dashed #ccc;}
.tender-panel-body4 .panel-body{padding:0 40px;}
.tender-panel-body4 .row{margin-left:-45px;margin-right:-45px;}

.tender-panel-body5 ul{margin-bottom:0;}
.tender-panel-body5 ul li a{color:#4468b4;padding:0 3px;}
.tender-panel-body5 ul li{margin:10px 0;}
.tender-panel-body5 ul li span{color:#fe0000;}

.tender-panel-body6 li{float:left;}

.tender-panel1-tab .on{color:#fff !important;}
.tender-panel1-tab a{
    -webkit-transition: all .1s;
    transition: all .1s;}

/*登录后*/
.index-logined{padding:10px;}
.index-logined p>a{color:#fe0000;}
.index-logined p>span{color:#fe0000;}
.index-logged-btn{margin-bottom: 0;}

.login-panel{border:0 !important;}
.login-panel .panel-heading{border-color:#fe0000 !important;}
.login-panel .panel-title{background:url(../img/login-bg2.png) no-repeat left;}
.tool-panel .panel-title{background:url(../img/tool-icon.png) no-repeat 10px center;}
.tool-panel .panel-title span{color: #444;
    padding-left: 25px;
    font-weight: 700;}
.new-panel .panel-title{background:url(../img/pane-icon.png) no-repeat 10px center;}
.new-panel .panel-title span{color: #444;
    padding-left: 15px;
    font-weight: 700;}