.panel-info-style4 li a{color:#3465cc;line-height:1.8em;}
.panel-info-style4 li a>em{font-style:normal;color:#fe0002;}
.panel-info-style4 li a>span{color:#fe0002;}

.panel-keyword{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.panel-keyword .panel-heading{background: url(../img/list-table-bg.png) repeat-x; padding: 8px 15px;}
.panel-keyword .panel-title{color:#fe0002;}
.panel-keyword-style h5{color:#fe0002;position:relative;padding-left:25px;}
.panel-keyword-tt{position:absolute;background:url(../img/key-bg.png) no-repeat;width:18px;height:18px;left:0;top:-1px;}
.panel-keyword-bg2{background-position: 0 -18px;}
.panel-keyword-bg3{background-position: 0 -36px;}
.panel-keyword-bg4{background-position: 0 -54px;}
.panel-keyword-bg5{background-position: 0 -72px;}
.panel-keyword-bg6{background-position: 0 -90px;}
.panel-keyword-bg7{background-position: 0 -108px;}
.panel-keyword-bg8{background-position: 0 -126px;}
.panel-keyword-bg9{background-position: 0 -144px;}
.panel-keyword-bg10{background-position: 0 -162px;}
.panel-keyword-bg11{background-position: 0 -180px;}
.panel-keyword-bg12{background-position: 0 -198px;}
.panel-keyword-bg1{background-position: 0 0;}

.panel-info-style5 ul{margin-bottom:0;}
.panel-info-style5 a{line-height:1.8em;color:#3465cc;position:relative;padding-left:10px;display:block;overflow:hidden;white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.panel-info-style5 a:before{content:'';position:absolute;width:4px;height:4px;background-color:#3465cc;left:0;top:10px;margin-top:-2px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.panel-info-style6 li{line-height:1.8em;color:#3465cc;padding-left:20px;}
.panel-info-style6 li span{color:#fe0002;}

.panel-keyword-style li a{padding:0 5px;margin:5px 0;display:inline-block;color:#3465cc;}
.panel-keyword-style li a+a{border-left:1px solid #3465cc;}