/*
combined files : 

../fragment/header.css
../fragment/footer.css
../fragment/index.css
../fragment/bootstrap-datepicker3.css
../fragment/about.css
../fragment/list.css
../fragment/content.css
../fragment/login.css
../fragment/search.css
../fragment/info.css
../fragment/zj.css
*/

/*\516C\5171\5934\90E8*/

/*\5B9A\4E49\4E00\4E2A\65B0\7684\6805\683C*/
.w-p5{width:5%;}
.w-p10{width:10%;}
.w-p15{width:15%;}
.w-p20{width:20%;}
.w-p25{width:25%;}
.w-p30{width:30%;}
.w-p35{width:35%;}
.w-p40{width:40%;}
.w-p45{width:45%;}
.w-p50{width:50%;}
.w-p55{width:55%;}
.w-p60{width:60%;}
.w-p65{width:65%;}
.w-p70{width:70%;}
.w-p75{width:75%;}
.w-p80{width:80%;}
.w-p85{width:85%;}
.w-p90{width:90%;}
.w-p95{width:95%;}
.w-p100{width:100%;}
ul,li,dd,dl{list-style:none;padding:0;}
body {
    font-family: "Microsoft YaHei", sans-serif;
}
@font-face {
    font-family: 'iconfont';  /* project id£º"158266" */
    src: url('//at.alicdn.com/t/font_izqdjkgv8p808uxr.eot');
    src: url('//at.alicdn.com/t/font_izqdjkgv8p808uxr.eot') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_izqdjkgv8p808uxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_izqdjkgv8p808uxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_izqdjkgv8p808uxr.svg#iconfont') format('svg');
}

body{background: url(../img/indexbg.png) repeat-x top #f5f8ff;}

.iconfont {position:relative;
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-weibo:before { content: "\e600"; }
.icon-tel:before { content: "\e601"; }
.icon-wechart:before { content: "\e602"; }
.icon-close:before { content: "\e603"; }
.icon-home:before {content: "\e605";}
.icon-search:before {content: "\e606";}
.icon-cmd:before {content: "\e604";}
.icon-sinan:before {content: "\e608";}
.icon-pen:before {content: "\e60a";}
.icon-mouse:before {content: "\e607";}
.icon-people:before {content: "\e609";}
.icon-mail:before {content: "\e60b";}
.icon-file:before {content: "\e60d";}
.icon-miaozhun:before {content: "\e60e";}
.icon-folder:before {content: "\e60c";}
.icon-arr-left:before {content: "\e60f";}
.icon-arr-right:before {content: "\e610";}
.icon-arr-up:before {content: "\e611";}
.icon-date:before {content: "\e612";}
.icon-db-arr-left:before {content: "\e614";}
.icon-db-arr-right:before {content: "\e613";}
.icon-fav:before {content: "\e616";}
.icon-fav-fill:before {content: "\e615";}
.icon-local:before {content: "\e617";}
.icon-clock:before {content: "\e618";}

/*\5934\90E8\6837\5F0F*/
.top-nav{height:40px;background-color:#fff;}
.top-nav ul{margin-bottom:0;}
.top-nav ul>li{float:left;}

.top-nav-right{margin-right:-10px;}
.top-nav-right>li{padding:0 10px;}
.top-nav-right>li>a{line-height:40px;color:#444;position:relative;padding-left:30px;}
.top-nav-right>li>a span{color:#3265ce;padding-right:7px;position:absolute;left:0;font-size:1.8em;}
.top-nav-right>li>a:hover,.top-nav-right>li>a:focus{text-decoration: none;}

.top-nav-left{overflow:hidden;}
.top-nav-left>li{padding:0;margin-left:-1px;}
.top-nav-left>li+li a{border-left:1px solid #444444;}
.top-nav-left>li>a{line-height:40px;color:#444;padding:0 10px;}
.top-nav-left>li>a:hover,.top-nav-left>li>a:focus{color:#000;text-decoration: none;}

.top-nav-form{padding:8px 0;}
.top-nav-form .input-group-addon{background:none;padding:0 10px;line-height:25px;border:0;font-size:12px;}
.top-nav-form .form-control{padding:0 10px;border-color:#919191;height:25px;background-color:#f5f3f4;font-size:12px;width:150px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.top-form-btn{color:#454344;background-color:#f4f2f3;border:1px solid #929292;padding:0 12px;height:25px;font-size:12px;margin-left:20px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}

/*\516C\544A*/
.top-info{margin-top:10px;height:32px;line-height:32px;background-color:#fff;position:relative;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;}
.top-info p{overflow:hidden;padding-right:40px;}
.top-info p marquee{overflow:hidden;}
.top-info-title{background:url(../img/info-bg.png) repeat-x left center #3a67bc;border-bottom-left-radius: 16px;border-top-left-radius: 16px;padding:0 16px 0 26px;color:#fff;margin-right:10px;}
.top-info .icon-close{position:absolute;color:#fff;background:#fe3336;    right: 7px;font-size:12px;
    height: 20px;
    line-height: 20px;
    top: 6px;
    width: 20px;
    border-radius: 50%;
    text-align: center;}

.top-head{margin-top:10px;background-color:#fff;padding:10px 0;overflow:hidden;}
.top-head-logo{display:block;width:100%;text-align: center;}
.top-head-logo img{max-height:94px;max-width:100%;}

.top-head-banner img{width:100%;}
.top-head-cc{margin-bottom:0;}
.top-head-cc li{overflow:hidden;line-height:1.7em;background:url(../img/gh.png) no-repeat left center;padding-left:25px;}
.top-head-cc a{color:#444;white-space: nowrap;display:block;overflow:hidden;position:relative;font-size:12px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}

/*\4E3B\5BFC\822A*/
.main-nav{margin-top:26px;background:url(../img/nav-bg.png) repeat-x top left #0e4f8f; border-top-left-radius:4px;border-top-right-radius: 4px;}
.main-nav .nav a{color:#fff;padding:7px 0 5px;font-size:18px;}
.main-nav .nav li{padding:3px 17px 0;}
.main-nav .nav li + li{background:url(../img/nav-bg-hover.png) no-repeat left center;}
.main-nav .nav a:hover,.main-nav .nav a:focus,.main-nav .nav a.active{color:#0d60b1;background:#f0f4fd;border-top-left-radius: 5px;border-top-right-radius: 5px;}

/*\641C\7D22*/
.main-search{background-color:#fff;overflow:hidden;padding:20px 5px;}

.search-label{margin-top:10px;}
.search-label>span{color:#0e4f8f;}
.search-label>a{color:#444;padding-right:5px;}
.search-label a{text-decoration: none;}
.search-label>em{font-style: normal;}

.main-search-form .form-control{padding:8px 15px;border-color:#4e7cd2;height:auto;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.main-search-form .search-btn{background:url(../img/search-bg.png) repeat-x left #0d60b1;color:#fff;padding:8px 40px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.main-search-tel{text-align: right;}

.top-logo-local{position:absolute;    right: 20px;
    top: 5px;
    font-size: 18px;}
.top-logo-local a{color:#fe3336;}
.top-logo-local a:hover,.top-logo-local a:focus{text-decoration: none;}

/*\516C\5171\5C3E\90E8*/

.footer{border:1px solid #e4e4e4;background:#fff;text-align: center;padding:20px;margin-bottom:60px;}
.footer .footer-1{display:inline-block;}
.footer .footer-1 li a{color:#444;padding:0 5px;}
.footer .footer-1 li a+a{border-left:1px dashed #444;}
.footer .panel-table{max-width:50% !important;margin:10px auto;}
.footer .panel-table li{display:table-cell;}

.slide-con{position:fixed;top:0;width:100%;}
.slide-con .container{position:relative;}
.slide-left{position:absolute;border:1px solid #e4e4e4;top:150px;right:100%;}

.slide-right{position:absolute;left:100%;top:100px;}
.slide-right ul{margin-bottom:0;}
.slide-right ul li{padding:5px;margin-bottom:5px;background-color:#fff;color:#444;text-align: center;width:70px;}
.slide-right ul li a{display:block;color:#444;}
.slide-right ul li a:hover,.slide-right ul li a:focus{text-decoration: none;}
.slide-right ul li a span{font-size:1.5em;}
.slide-right ul li.active{color:#fff;background-color:#2858ba;}
.slide-right ul li.active a{color:#fff;}

/*index\6A21\5757*/

.tender-module-first{margin-top:15px;}
.tender-module .row{margin-left:-5px;margin-right:-5px;}
.tender-module .col-sm-3,.tender-module .col-sm-2,.tender-module .col-sm-6,.tender-module .col-sm-4,.tender-module .col-sm-8,.tender-module .col-sm-9,.tender-module .col-sm-10,.tender-module .col-sm-12{padding-left:5px;padding-right:5px;}
.tender-panel1{border-color:#e4e4e4;margin-bottom:10px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel1 .panel-heading{background:url(../img/m-bg1.png) repeat-x left top #ececec;border-bottom:1px solid #2c5ab0;padding:0;}
.tender-panel1 .panel-title{background:url(../img/m-bg.png) no-repeat left bottom;padding:6px 15px;font-size:14px;}
.tender-panel1 .panel-title a{color:#676767;padding:0 12px;}
.tender-panel1 .panel-title a.pull-right{padding-right:0;}
.tender-panel1 .panel-title a:hover,.tender-panel1 .panel-title a:focus{text-decoration: none;}
.tender-panel1 .panel-title>span{color:#fff;margin-right:30px;}
.tender-panel1 .panel-body>ul{margin-bottom:0;}
.tender-panel1 .panel-body>ul>li{overflow:hidden;padding:5px 0;}
.tender-panel1 .panel-body>ul>li a{position:relative;color:#444;white-space: nowrap;display:block;overflow:hidden;line-height:1.5em;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.tender-panel-body1>ul>li a{padding-left:10px;position:relative;}
.tender-panel-body1>ul>li a:before{content: '';position:absolute;display:block;width:4px;height:4px;background-color:#444;left:0;top:50%;margin-top:-2px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.tender-panel-body1>ul>li a span.download{background-color:#3e6cc2;color:#fff;padding:1px 5px;}

.tender-panel2{border:0;margin-bottom:10px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel2 .panel-heading{background:url(../img/panel2-bg.png) repeat-x left top #ececec;padding:0;}
.tender-panel2 .panel-title{text-align: center;color:#fff;padding:6px 0;}
.tender-panel2 .panel-body{padding:23px 20px 15px;}

.index-slide{position:relative;margin-bottom:10px;}
.index-slide-bd a img{width:100%;}
.index-slide-hd{position:absolute;bottom:10px;text-align: center;width:100%;z-index: 10;}
.index-slide-hd ul{display:inline-block;margin-bottom:0;}
.index-slide-hd ul li{float:left;margin:0 5px;height:12px;width:12px;background-color:#fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.index-slide-hd ul li.on{background-color:#fe0000;}

/*\767B\5F55\6846*/
.index-login{padding:10px 0;}
.index-login .input-group{margin-bottom:20px;}
.index-login .form-control{height:auto;padding:3px 12px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.index-login .input-group-addon{background:none;border:0;}
.input-login-label{padding-left:55px;}
.input-login-label .checkbox{margin-right:50%;color:#454545;padding-left:20px;}
.input-login-label a{color:#454545;}
.index-login-btn{background-color:#4271c9;color:#fff !important;}

.tender-panel2-btn{background-color:#f9f9f9;display:block;border-color:#d0d0d0;color:#444;padding:11px 0 11px 66px;margin-bottom:8px;position: relative;font-size:16px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.tender-panel2-btn .iconfont{position:absolute;left:0;top:0;bottom:0;width:66px;background-color:#5786ca;color:#fff;font-size:26px;}

.tender-panel-body2 ul{overflow:hidden;}
.tender-panel-body2 li{float:left;margin-top:-1px;margin-left:-1px;padding:0 !important;}
.tender-panel-body2 li a{border-top:1px solid #e4e4e4;color:#444;border-left:1px solid #e4e4e4;text-align: center;line-height:2em !important;padding:5px 0;}
.tender-panel-body2 li a .iconfont{color:#4371cf;display:block;font-size:2em;}
.tender-panel-body2 li a:hover,.tender-panel-body2 li a:focus{text-decoration: none;}

/*banner-ad*/
.tender-ad img{width:100%;}
.tender-ad{margin-bottom:10px;}

.panel-table{display:table;width:100%;}
.panel-table>ul{display:table-cell;}
.tender-panel-body3 a{display:table-cell;text-align: center;color:#444;}
.tender-panel-body3 a img{max-width:100%;}
.tender-panel-body3 a:hover,.tender-panel-body3 a:focus{text-decoration: none;}

.tender-panel3{margin-bottom:10px;border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
/*.tender-panel3 .panel-heading{padding:0;background:url(../img/rl-bg.png) repeat-x left top #ececec;}*/
/*.tender-panel3 .panel-title{color:#fff;text-align: center;padding:8px 0;}*/
/*.tender-panel3 .panel-title a.pull-left{background:url(../img/rl-bg1.png) no-repeat right;padding:0 6px;}*/
/*.tender-panel3 .panel-title a.pull-right{background:url(../img/rl-bg1.png) no-repeat left;padding:0 6px;}*/
/*.tender-panel3 .panel-title a:hover,.tender-panel3 .panel-title a:focus{text-decoration: none;}*/
.datepicker-inline,.datepicker table{width:100% !important;}
.table-condensed thead tr:nth-child(2){background:url(../img/rl-bg.png) repeat-x left top #ececec;}
.table-condensed thead th{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;}
.table-condensed thead tr:nth-child(2) th{color:#fff;}
.table-condensed thead tr:nth-child(2) th.prev{background:url(../img/rl-bg1.png) no-repeat right;}
.table-condensed thead tr:nth-child(2) th.next{background:url(../img/rl-bg1.png) no-repeat left;}
.table-condensed thead tr:nth-child(2) th:hover{background:none;}
.table-condensed thead tr:nth-child(3){color:#ccc;border:1px solid #e6e6e6;}
.table-condensed tbody tr td{border:1px solid #e6e6e6 !important;}

.tender-panel3 .panel-body{padding:0;}
.panel-table2{display:block;border:1px solid #e6e6e6;margin-bottom:0;}
.panel-table2 tr{width:100%;}
.panel-table2 tr td{border-left:1px solid #e6e6e6;padding:7px !important;}
.panel-table2 tr td a{display:block;text-align: center;color:#444;}
.panel-table2 tr td a:hover,.panel-table2 tr td a:focus{text-decoration: none;}
.panel-table2 tr td.pass{background-color:#ebebeb;color:#a0a0a0;}
.panel-table2 tr td.on{color:#fff;background-color:#4370c3;}
.panel-table2 tr td.pass a{color:#a0a0a0;}
.panel-table2 tr td.on a{color:#fff;}
.panel-table2 th{font-size:.5em;color:#b3b3b3;text-align: center;font-weight:200;height:27px;border-bottom:1px solid #e6e6e6;padding:7px !important;}

.tender-panel-body4 .col-sm-4+.col-sm-4{border-left:1px dashed #ccc;}
.tender-panel-body4 .panel-body{padding:0 40px;}
.tender-panel-body4 .row{margin-left:-45px;margin-right:-45px;}

.tender-panel-body5 ul{margin-bottom:0;}
.tender-panel-body5 ul li a{color:#444;padding:0 3px;}
.tender-panel-body5 ul li{margin:10px 0;}
.tender-panel-body5 ul li span{color:#4468b4;}

.tender-panel-body6 li{float:left;}

.tender-panel1-tab .on{color:#fff !important;}
.tender-panel1-tab a{
    -webkit-transition: all .1s;
    transition: all .1s;}

/*\767B\5F55\540E*/
.index-logined{padding:10px;}
.index-logined p>a{color:#fe0000;}
.index-logined p>span{color:#fe0000;}
.index-logged-btn{margin-bottom: 0;}

/*\65E5\5386\6A21\5757*/

/*!
 * Datepicker for Bootstrap v1.5.1 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.datepicker {
  border-radius: 4px;
  direction: ltr;
}
.datepicker-inline {
  width: 220px;
}
.datepicker.datepicker-rtl {
  direction: rtl;
}
.datepicker.datepicker-rtl table tr td span {
  float: right;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
  padding: 4px;
}
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-top: 0;
  position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid rgba(0, 0, 0, 0.15);
}
.datepicker-dropdown.datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.datepicker > div {
  /*display: none;*/
}
.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker table tr td,
.datepicker table tr th {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999999;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td.highlighted {
  color: #000000;
  background-color: #d9edf7;
  border-color: #85c5e5;
  border-radius: 0;
}
.datepicker table tr td.highlighted:focus,
.datepicker table tr td.highlighted.focus {
  color: #000000;
  background-color: #afd9ee;
  border-color: #298fc2;
}
.datepicker table tr td.highlighted:hover {
  color: #000000;
  background-color: #afd9ee;
  border-color: #52addb;
}
.datepicker table tr td.highlighted:active,
.datepicker table tr td.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.highlighted {
  color: #000000;
  background-color: #afd9ee;
  border-color: #52addb;
}
.datepicker table tr td.highlighted:active:hover,
.datepicker table tr td.highlighted.active:hover,
.open > .dropdown-toggle.datepicker table tr td.highlighted:hover,
.datepicker table tr td.highlighted:active:focus,
.datepicker table tr td.highlighted.active:focus,
.open > .dropdown-toggle.datepicker table tr td.highlighted:focus,
.datepicker table tr td.highlighted:active.focus,
.datepicker table tr td.highlighted.active.focus,
.open > .dropdown-toggle.datepicker table tr td.highlighted.focus {
  color: #000000;
  background-color: #91cbe8;
  border-color: #298fc2;
}
.datepicker table tr td.highlighted:active,
.datepicker table tr td.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.highlighted {
  background-image: none;
}
.datepicker table tr td.highlighted.disabled:hover,
.datepicker table tr td.highlighted[disabled]:hover,
fieldset[disabled] .datepicker table tr td.highlighted:hover,
.datepicker table tr td.highlighted.disabled:focus,
.datepicker table tr td.highlighted[disabled]:focus,
fieldset[disabled] .datepicker table tr td.highlighted:focus,
.datepicker table tr td.highlighted.disabled.focus,
.datepicker table tr td.highlighted[disabled].focus,
fieldset[disabled] .datepicker table tr td.highlighted.focus {
  background-color: #d9edf7;
  border-color: #85c5e5;
}
.datepicker table tr td.highlighted.focused {
  background: #afd9ee;
}
.datepicker table tr td.highlighted.disabled,
.datepicker table tr td.highlighted.disabled:active {
  background: #d9edf7;
  color: #999999;
}
.datepicker table tr td.today {
  color: #000000;
  background-color: #ffdb99;
  border-color: #ffb733;
}
.datepicker table tr td.today:focus,
.datepicker table tr td.today.focus {
  color: #000000;
  background-color: #ffc966;
  border-color: #b37400;
}
.datepicker table tr td.today:hover {
  color: #000000;
  background-color: #ffc966;
  border-color: #f59e00;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today.active,
.open > .dropdown-toggle.datepicker table tr td.today {
  color: #000000;
  background-color: #ffc966;
  border-color: #f59e00;
}
.datepicker table tr td.today:active:hover,
.datepicker table tr td.today.active:hover,
.open > .dropdown-toggle.datepicker table tr td.today:hover,
.datepicker table tr td.today:active:focus,
.datepicker table tr td.today.active:focus,
.open > .dropdown-toggle.datepicker table tr td.today:focus,
.datepicker table tr td.today:active.focus,
.datepicker table tr td.today.active.focus,
.open > .dropdown-toggle.datepicker table tr td.today.focus {
  color: #000000;
  background-color: #ffbc42;
  border-color: #b37400;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today.active,
.open > .dropdown-toggle.datepicker table tr td.today {
  background-image: none;
}
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today[disabled]:hover,
fieldset[disabled] .datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled:focus,
.datepicker table tr td.today[disabled]:focus,
fieldset[disabled] .datepicker table tr td.today:focus,
.datepicker table tr td.today.disabled.focus,
.datepicker table tr td.today[disabled].focus,
fieldset[disabled] .datepicker table tr td.today.focus {
  background-color: #ffdb99;
  border-color: #ffb733;
}
.datepicker table tr td.today.focused {
  background: #ffc966;
}
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:active {
  background: #ffdb99;
  color: #999999;
}
.datepicker table tr td.range {
  color: #000000;
  background-color: #eeeeee;
  border-color: #bbbbbb;
  border-radius: 0;
}
.datepicker table tr td.range:focus,
.datepicker table tr td.range.focus {
  color: #000000;
  background-color: #d5d5d5;
  border-color: #7c7c7c;
}
.datepicker table tr td.range:hover {
  color: #000000;
  background-color: #d5d5d5;
  border-color: #9d9d9d;
}
.datepicker table tr td.range:active,
.datepicker table tr td.range.active,
.open > .dropdown-toggle.datepicker table tr td.range {
  color: #000000;
  background-color: #d5d5d5;
  border-color: #9d9d9d;
}
.datepicker table tr td.range:active:hover,
.datepicker table tr td.range.active:hover,
.open > .dropdown-toggle.datepicker table tr td.range:hover,
.datepicker table tr td.range:active:focus,
.datepicker table tr td.range.active:focus,
.open > .dropdown-toggle.datepicker table tr td.range:focus,
.datepicker table tr td.range:active.focus,
.datepicker table tr td.range.active.focus,
.open > .dropdown-toggle.datepicker table tr td.range.focus {
  color: #000000;
  background-color: #c3c3c3;
  border-color: #7c7c7c;
}
.datepicker table tr td.range:active,
.datepicker table tr td.range.active,
.open > .dropdown-toggle.datepicker table tr td.range {
  background-image: none;
}
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range[disabled]:hover,
fieldset[disabled] .datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled:focus,
.datepicker table tr td.range[disabled]:focus,
fieldset[disabled] .datepicker table tr td.range:focus,
.datepicker table tr td.range.disabled.focus,
.datepicker table tr td.range[disabled].focus,
fieldset[disabled] .datepicker table tr td.range.focus {
  background-color: #eeeeee;
  border-color: #bbbbbb;
}
.datepicker table tr td.range.focused {
  background: #d5d5d5;
}
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:active {
  background: #eeeeee;
  color: #999999;
}
.datepicker table tr td.range.highlighted {
  color: #000000;
  background-color: #e4eef3;
  border-color: #9dc1d3;
}
.datepicker table tr td.range.highlighted:focus,
.datepicker table tr td.range.highlighted.focus {
  color: #000000;
  background-color: #c1d7e3;
  border-color: #4b88a6;
}
.datepicker table tr td.range.highlighted:hover {
  color: #000000;
  background-color: #c1d7e3;
  border-color: #73a6c0;
}
.datepicker table tr td.range.highlighted:active,
.datepicker table tr td.range.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.range.highlighted {
  color: #000000;
  background-color: #c1d7e3;
  border-color: #73a6c0;
}
.datepicker table tr td.range.highlighted:active:hover,
.datepicker table tr td.range.highlighted.active:hover,
.open > .dropdown-toggle.datepicker table tr td.range.highlighted:hover,
.datepicker table tr td.range.highlighted:active:focus,
.datepicker table tr td.range.highlighted.active:focus,
.open > .dropdown-toggle.datepicker table tr td.range.highlighted:focus,
.datepicker table tr td.range.highlighted:active.focus,
.datepicker table tr td.range.highlighted.active.focus,
.open > .dropdown-toggle.datepicker table tr td.range.highlighted.focus {
  color: #000000;
  background-color: #a8c8d8;
  border-color: #4b88a6;
}
.datepicker table tr td.range.highlighted:active,
.datepicker table tr td.range.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.range.highlighted {
  background-image: none;
}
.datepicker table tr td.range.highlighted.disabled:hover,
.datepicker table tr td.range.highlighted[disabled]:hover,
fieldset[disabled] .datepicker table tr td.range.highlighted:hover,
.datepicker table tr td.range.highlighted.disabled:focus,
.datepicker table tr td.range.highlighted[disabled]:focus,
fieldset[disabled] .datepicker table tr td.range.highlighted:focus,
.datepicker table tr td.range.highlighted.disabled.focus,
.datepicker table tr td.range.highlighted[disabled].focus,
fieldset[disabled] .datepicker table tr td.range.highlighted.focus {
  background-color: #e4eef3;
  border-color: #9dc1d3;
}
.datepicker table tr td.range.highlighted.focused {
  background: #c1d7e3;
}
.datepicker table tr td.range.highlighted.disabled,
.datepicker table tr td.range.highlighted.disabled:active {
  background: #e4eef3;
  color: #999999;
}
.datepicker table tr td.range.today {
  color: #000000;
  background-color: #f7ca77;
  border-color: #f1a417;
}
.datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today.focus {
  color: #000000;
  background-color: #f4b747;
  border-color: #815608;
}
.datepicker table tr td.range.today:hover {
  color: #000000;
  background-color: #f4b747;
  border-color: #bf800c;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today.active,
.open > .dropdown-toggle.datepicker table tr td.range.today {
  color: #000000;
  background-color: #f4b747;
  border-color: #bf800c;
}
.datepicker table tr td.range.today:active:hover,
.datepicker table tr td.range.today.active:hover,
.open > .dropdown-toggle.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:active:focus,
.datepicker table tr td.range.today.active:focus,
.open > .dropdown-toggle.datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today:active.focus,
.datepicker table tr td.range.today.active.focus,
.open > .dropdown-toggle.datepicker table tr td.range.today.focus {
  color: #000000;
  background-color: #f2aa25;
  border-color: #815608;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today.active,
.open > .dropdown-toggle.datepicker table tr td.range.today {
  background-image: none;
}
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today[disabled]:hover,
fieldset[disabled] .datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled:focus,
.datepicker table tr td.range.today[disabled]:focus,
fieldset[disabled] .datepicker table tr td.range.today:focus,
.datepicker table tr td.range.today.disabled.focus,
.datepicker table tr td.range.today[disabled].focus,
fieldset[disabled] .datepicker table tr td.range.today.focus {
  background-color: #f7ca77;
  border-color: #f1a417;
}
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:active {
  background: #f7ca77;
  color: #999999;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected.highlighted {
  color: #ffffff;
  background-color: #999999;
  border-color: #555555;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:focus,
.datepicker table tr td.selected.highlighted:focus,
.datepicker table tr td.selected.focus,
.datepicker table tr td.selected.highlighted.focus {
  color: #ffffff;
  background-color: #808080;
  border-color: #161616;
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.highlighted:hover {
  color: #ffffff;
  background-color: #808080;
  border-color: #373737;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected.highlighted:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.selected,
.open > .dropdown-toggle.datepicker table tr td.selected.highlighted {
  color: #ffffff;
  background-color: #808080;
  border-color: #373737;
}
.datepicker table tr td.selected:active:hover,
.datepicker table tr td.selected.highlighted:active:hover,
.datepicker table tr td.selected.active:hover,
.datepicker table tr td.selected.highlighted.active:hover,
.open > .dropdown-toggle.datepicker table tr td.selected:hover,
.open > .dropdown-toggle.datepicker table tr td.selected.highlighted:hover,
.datepicker table tr td.selected:active:focus,
.datepicker table tr td.selected.highlighted:active:focus,
.datepicker table tr td.selected.active:focus,
.datepicker table tr td.selected.highlighted.active:focus,
.open > .dropdown-toggle.datepicker table tr td.selected:focus,
.open > .dropdown-toggle.datepicker table tr td.selected.highlighted:focus,
.datepicker table tr td.selected:active.focus,
.datepicker table tr td.selected.highlighted:active.focus,
.datepicker table tr td.selected.active.focus,
.datepicker table tr td.selected.highlighted.active.focus,
.open > .dropdown-toggle.datepicker table tr td.selected.focus,
.open > .dropdown-toggle.datepicker table tr td.selected.highlighted.focus {
  color: #ffffff;
  background-color: #6e6e6e;
  border-color: #161616;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected.highlighted:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.selected,
.open > .dropdown-toggle.datepicker table tr td.selected.highlighted {
  background-image: none;
}
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.highlighted.disabled:hover,
.datepicker table tr td.selected[disabled]:hover,
.datepicker table tr td.selected.highlighted[disabled]:hover,
fieldset[disabled] .datepicker table tr td.selected:hover,
fieldset[disabled] .datepicker table tr td.selected.highlighted:hover,
.datepicker table tr td.selected.disabled:focus,
.datepicker table tr td.selected.highlighted.disabled:focus,
.datepicker table tr td.selected[disabled]:focus,
.datepicker table tr td.selected.highlighted[disabled]:focus,
fieldset[disabled] .datepicker table tr td.selected:focus,
fieldset[disabled] .datepicker table tr td.selected.highlighted:focus,
.datepicker table tr td.selected.disabled.focus,
.datepicker table tr td.selected.highlighted.disabled.focus,
.datepicker table tr td.selected[disabled].focus,
.datepicker table tr td.selected.highlighted[disabled].focus,
fieldset[disabled] .datepicker table tr td.selected.focus,
fieldset[disabled] .datepicker table tr td.selected.highlighted.focus {
  background-color: #999999;
  border-color: #555555;
}
.datepicker table tr td.active,
.datepicker table tr td.active.highlighted {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:focus,
.datepicker table tr td.active.highlighted:focus,
.datepicker table tr td.active.focus,
.datepicker table tr td.active.highlighted.focus {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #193c5a;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active.highlighted:hover {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.active,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.open > .dropdown-toggle.datepicker table tr td.active:hover,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.open > .dropdown-toggle.datepicker table tr td.active:focus,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus,
.open > .dropdown-toggle.datepicker table tr td.active.focus,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted.focus {
  color: #ffffff;
  background-color: #285e8e;
  border-color: #193c5a;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.active,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted {
  background-image: none;
}
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.highlighted.disabled:hover,
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active.highlighted[disabled]:hover,
fieldset[disabled] .datepicker table tr td.active:hover,
fieldset[disabled] .datepicker table tr td.active.highlighted:hover,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.highlighted.disabled:focus,
.datepicker table tr td.active[disabled]:focus,
.datepicker table tr td.active.highlighted[disabled]:focus,
fieldset[disabled] .datepicker table tr td.active:focus,
fieldset[disabled] .datepicker table tr td.active.highlighted:focus,
.datepicker table tr td.active.disabled.focus,
.datepicker table tr td.active.highlighted.disabled.focus,
.datepicker table tr td.active[disabled].focus,
.datepicker table tr td.active.highlighted[disabled].focus,
fieldset[disabled] .datepicker table tr td.active.focus,
fieldset[disabled] .datepicker table tr td.active.highlighted.focus {
  background-color: #428bca;
  border-color: #357ebd;
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px;
}
.datepicker table tr td span:hover {
  background: #eeeeee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.focus,
.datepicker table tr td span.active:hover.focus,
.datepicker table tr td span.active.disabled.focus,
.datepicker table tr td span.active.disabled:hover.focus {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #193c5a;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open > .dropdown-toggle.datepicker table tr td span.active,
.open > .dropdown-toggle.datepicker table tr td span.active:hover,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.datepicker table tr td span.active:active:hover,
.datepicker table tr td span.active:hover:active:hover,
.datepicker table tr td span.active.disabled:active:hover,
.datepicker table tr td span.active.disabled:hover:active:hover,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active:hover.active:hover,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled:hover.active:hover,
.open > .dropdown-toggle.datepicker table tr td span.active:hover,
.open > .dropdown-toggle.datepicker table tr td span.active:hover:hover,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active:focus,
.datepicker table tr td span.active:hover:active:focus,
.datepicker table tr td span.active.disabled:active:focus,
.datepicker table tr td span.active.disabled:hover:active:focus,
.datepicker table tr td span.active.active:focus,
.datepicker table tr td span.active:hover.active:focus,
.datepicker table tr td span.active.disabled.active:focus,
.datepicker table tr td span.active.disabled:hover.active:focus,
.open > .dropdown-toggle.datepicker table tr td span.active:focus,
.open > .dropdown-toggle.datepicker table tr td span.active:hover:focus,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:focus,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active.focus,
.datepicker table tr td span.active:hover:active.focus,
.datepicker table tr td span.active.disabled:active.focus,
.datepicker table tr td span.active.disabled:hover:active.focus,
.datepicker table tr td span.active.active.focus,
.datepicker table tr td span.active:hover.active.focus,
.datepicker table tr td span.active.disabled.active.focus,
.datepicker table tr td span.active.disabled:hover.active.focus,
.open > .dropdown-toggle.datepicker table tr td span.active.focus,
.open > .dropdown-toggle.datepicker table tr td span.active:hover.focus,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled.focus,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover.focus {
  color: #ffffff;
  background-color: #285e8e;
  border-color: #193c5a;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open > .dropdown-toggle.datepicker table tr td span.active,
.open > .dropdown-toggle.datepicker table tr td span.active:hover,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled,
.open > .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-image: none;
}
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover.disabled:hover,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active.disabled:hover.disabled:hover,
.datepicker table tr td span.active[disabled]:hover,
.datepicker table tr td span.active:hover[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled]:hover,
.datepicker table tr td span.active.disabled:hover[disabled]:hover,
fieldset[disabled] .datepicker table tr td span.active:hover,
fieldset[disabled] .datepicker table tr td span.active:hover:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active:hover.disabled:focus,
.datepicker table tr td span.active.disabled.disabled:focus,
.datepicker table tr td span.active.disabled:hover.disabled:focus,
.datepicker table tr td span.active[disabled]:focus,
.datepicker table tr td span.active:hover[disabled]:focus,
.datepicker table tr td span.active.disabled[disabled]:focus,
.datepicker table tr td span.active.disabled:hover[disabled]:focus,
fieldset[disabled] .datepicker table tr td span.active:focus,
fieldset[disabled] .datepicker table tr td span.active:hover:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active.disabled.focus,
.datepicker table tr td span.active:hover.disabled.focus,
.datepicker table tr td span.active.disabled.disabled.focus,
.datepicker table tr td span.active.disabled:hover.disabled.focus,
.datepicker table tr td span.active[disabled].focus,
.datepicker table tr td span.active:hover[disabled].focus,
.datepicker table tr td span.active.disabled[disabled].focus,
.datepicker table tr td span.active.disabled:hover[disabled].focus,
fieldset[disabled] .datepicker table tr td span.active.focus,
fieldset[disabled] .datepicker table tr td span.active:hover.focus,
fieldset[disabled] .datepicker table tr td span.active.disabled.focus,
fieldset[disabled] .datepicker table tr td span.active.disabled:hover.focus {
  background-color: #428bca;
  border-color: #357ebd;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999999;
}
.datepicker .datepicker-switch {
  width: 145px;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
  cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  background: #eeeeee;
}
.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.input-group.date .input-group-addon {
  cursor: pointer;
}
.input-daterange {
  width: 100%;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  border-radius: 0 3px 3px 0;
}
.input-daterange .input-group-addon {
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: solid #cccccc;
  border-width: 1px 0;
  margin-left: -5px;
  margin-right: -5px;
}


/*\5173\4E8E\6211\4EEC*/

.about-con{background-color:#fff;border:1px solid #e4e4e4;padding:10px 15px;}
.about-con h4{color:#e72324;margin:0;}
.about-con h4 small{color:#2e4f9c;font-size:12px;padding-left:5px;}
.about-con .pull-right span{color:#2e4f9c;}
.about-con .pull-right a{color:#444;}
.about-con .pull-right a:hover,.about-con .pull-right a:focus{color:#2e4f9c;}

.about-panel{border:1px solid #e4e4e4;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.about-panel .panel-heading{background:url(../img/about-bg.png) repeat-x left;border-bottom:1px solid #e4e4e4;padding:15px;}

.about-panel-nav{padding:20px 0;}
.about-panel-nav ul{margin:0;}
.about-panel-nav ul li{padding:0 35px 0 40px;}
.about-panel-nav ul li + li{border-top:1px solid #e8e6e7;}
.about-panel-nav ul li a{font-size:16px;display: block;line-height:3em;color:#444;padding-left:10px;position:relative;}
.about-panel-nav ul li a:before{content: '';position:absolute;border-left:6px solid #454344;border-top:5px solid transparent;border-bottom:5px solid transparent;left:-10px;top:1.2em;}
.about-panel-nav ul li a span{color:#c4c4c4;font-size:14px;}
.about-panel-nav ul li a:hover{text-decoration: none;}
.about-panel-nav ul li:hover a,.about-panel-nav ul li:hover a span{color:#3566cc;}
.about-panel-nav ul li:hover a:before{border-left:6px solid #3566cc;}

/*\5217\8868*/


/*\4E24\4E2A\5217\8868*/
.panel-list-body a{text-align: center;margin-bottom:10px;display:block;}
.list-panel{border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.list-panel .panel-heading{padding:0;background:url(../img/list-tab-bg.png) repeat-x;}
.list-panel .panel-heading .nav a{padding:14px 0;margin:8px 25px 0;background-color:#5c86d2;color:#fefffd;border-top-left-radius: 6px;border-top-right-radius: 6px;}
.list-panel .panel-heading .nav a:hover,.list-panel .panel-heading .nav a:focus,.list-panel .panel-heading .nav a.active{background-color:#f0f4fd;color:#416fc5;}
.list-panel .panel-heading .nav a h4{margin:0;}
.list-panel .panel-body{padding:0 26px;border:1px solid #e5e3e4;background:url(../img/list-table-bg.png) repeat-x top;}

.list-table>thead th{color:#3168cc;padding:6px 2px !important;border-bottom:1px solid #2c5ab0 !important;position:relative;}
.list-table>tbody td{padding:10px 5px !important;border-bottom:1px dashed #c5c5c5;border-top:0 !important;}
.list-table>tbody tr td a{color:#3465cc;}
.list-table>tbody tr td:first-child a{padding-left:10px;position:relative;}
.list-table>tbody tr td:first-child a:before{position:absolute;content: '';border-left:8px solid #3465cc;border-top:4px solid transparent;border-bottom:4px solid transparent;left:-4px;top:50%;margin-top:-4px;}

.page-nav{text-align: center;}
.page-nav ul{display:inline-block;}
.page-nav ul li{float:left;margin:0 2px;}
.page-nav ul li.first,.page-nav ul li.pro,.page-nav ul li.last,.page-nav ul li.next{margin:0 5px;}
.page-nav ul li a{display:block;padding:1px 11px;background-color:#e9e9e9;color:#858585;line-height:2em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;}
.page-nav ul li a span.iconfont{font-size:12px;top:-1px;}
.page-nav ul li a:hover,.page-nav ul li a:focus,.page-nav ul li a.active{background-color:#3266cc;color:#fff;text-decoration: none;}

.list-select{position:absolute;right:0;top:1px;color:#444;background-color:#e9e9e9;}

/*\8BE6\60C5*/

.bidding-panel{border-color:#e4e4e4;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.bidding-panel .panel-heading{background:url(../img/list-table-bg.png) repeat-x top;padding:16px;}
.bidding-title{margin-top:20px;color:#3265d0;text-align: center;}

.bidding-des{border-bottom:1px dashed #c4c4c4;padding:20px 10px;}
.bidding-des>p{margin-bottom:0;color:#3265d0;}
.bidding-des>a{margin-right:10px;color:#3265d0;}
.bidding-des a:hover,.bidding-des a:focus{text-decoration: none;}
.bidding-des .bdsharebuttonbox{margin-top:-7px;}

.bidding-sig{margin:17px 10px;border:1px solid #e1e1e1;background-color:#f6f6f6;padding:20px 80px;}
.btn-bidding-style{background:url(../img/content-btn-bg.png) repeat-x #3265d0;color:#fff;padding:10px 20px;}
.btn-bidding-style:hover{color:#fff;}
.bidding-sig p:last-child{margin-bottom:0;}
.bidding-sig p a{color:#fe0000;padding:0 2px;}

.bidding-detail{margin:0 10px;padding-top:20px;}
.bidding-detail .row{margin-left:-20px;margin-right:-20px;}
.bidding-detail .col-sm-4{padding:0 20px;}
.bidding-detail .table th{background:#f6f6f6;color:#fe0000;font-weight:200;padding:10px 20px;}
.bidding-detail .table td{color:#444;padding:10px 20px;}

.bidding-content{margin:0 10px;}
.bidding-content h4{border-bottom:1px solid #3266cc;color:#3266cc;padding:15px 0;margin-bottom:20px;}
.bidding-content p a{color:#fe0000;padding:0 3px;}
.bidding-content p a.download{color:#3266cc;}
.bidding-content .no-login{padding:15px; border:1px solid #e1e1e1;margin-bottom:10px;}


/*\767B\5F55\6CE8\518C*/

.panel-login{border-color:#e4e4e4;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.panel-login .panel-heading{background:url(../img/about-bg.png) repeat-x top;border-bottom:1px solid #e4e4e4;padding:15px;}
.panel-login .panel-body{padding:30px 40px;}
.panel-login-form{padding:60px 100px 60px 60px;}
.panel-login-form .input-group-addon{background:none;border:0;}
.panel-login-form label span{color:#fe0000;}
.panel-login-form .help-block{color:#c2c2c2;}
.panel-login-form .input-group{margin-bottom:35px;}
.login-form-des{margin-bottom: 35px;
    padding-left: 95px;
    padding-right: 155px;}
.login-form-des label{margin-right:100px;}
.login-form-btn{text-align: center;padding-left:95px;}
.login-btn-style{background:url(../img/login-bg.png) repeat-x #3865ba;margin:0 10px;color:#fff;padding:6px 25px;}
.login-btn-style2{background:url(../img/login-bg.png) repeat-x #3865ba;color:#fff;}
.login-btn-style:hover,.login-btn-style:focus{color:#fff;}
.login-help{background-color:#f2f3f5;padding:30px 20px;overflow:hidden;}
.login-help h4{color:#3266cc;padding:10px 0;border-bottom:1px solid #3266cc;}
.login-help ul li,.login-help p{color:#919191;line-height:2em;padding-left:20px;white-space: nowrap;overflow:hidden;position:relative;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.login-help ul li:before{position:absolute;content: '';width:4px;height:4px;background-color:#919191;left:7px;top:50%;margin-top:-2px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.panel-register-form{padding:50px;}
.panel-register-form .form-control{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}

/*\9AD8\7EA7\641C\7D22*/

.panel-search{border:1px solid #e5e4e2;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.panel-search .panel-heading{background:url(../img/list-table-bg.png) repeat-x top;padding:16px;}
.ad-search-form .form-group{margin-left:-5px;margin-right:-5px;}

.search-table{margin-bottom:0;margin-left:15px;}
.search-table .checkbox{padding-top:0;font-weight:200;}
.search-table thead th{border:0 !important;}
.search-table thead th .checkbox{color:#3367cd;}
.search-table tbody td{border:0 !important;}
.ad-search-form .form-control{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}


/*\5C55\4F1A\4FE1\606F*/

.panel-exInfo{border:1px solid #e4e4e4;margin-bottom:10px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.panel-exInfo .panel-heading{background:url(../img/list-table-bg.png) repeat-x;padding:8px 15px;}
.panel-exInfo .panel-title{background:url(../img/info-t.png) no-repeat left center;color:#3667cd;padding-left:20px;}
.panel-exInfo .panel-title a{color:#444;}
.panel-exInfo .panel-title a:hover,.panel-exInfo .panel-title a:focus{text-decoration: none;}

.panel-info-style1{padding:30px 0 0;}
.panel-info-style1>ul>li{float:left;width:50%;padding-left:15px;padding-right:15px;margin-bottom:30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.panel-info-style1>ul>li a{display:block;overflow:hidden;color:#919191;}
.panel-info-style1>ul>li a:hover,.panel-info-style1>ul>li a:focus{text-decoration: none;}
.panel-info-style1 .info-pic{position:relative;height:135px;width:193px;overflow:hidden;margin-right:15px;}
.panel-info-style1 .info-pic img{position:absolute;width:100%;height:100%;}
.panel-info-style1 h5{margin-top:0;color:#3667cd;overflow:hidden;white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}

.panel-info-style2 .row{margin-left:-60px;margin-right:-60px;}
.panel-info-style2 .col-sm-6{padding-left:60px;padding-right:60px;}
.panel-info-style2 .col-sm-6 + .col-sm-6{border-left:1px dashed #cdcdcd;}
.panel-info-style2 ul{margin-bottom:0;}
.panel-info-style2 li a{color:#3367cc;padding-left:15px;display: block;overflow:hidden;white-space: nowrap;line-height:1.8em;position:relative;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.panel-info-style2 li a span{color:#fd0000;}
.panel-info-style2 li a:before{content: '';position:absolute;display:block;width:4px;height:4px;background-color:#3367cc;margin-top:-2px;left:0;top:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}

.panel-info-style3 a{text-align: center;display: block;}
.panel-info-style3 a img{width:100%;}
.panel-info-style3 a p{margin-top:6px;}
.panel-info-style3 ul{margin-bottom:0;}
.panel-info-style3 a:hover,.panel-info-style3 a:focus{text-decoration: none;}
.panel-info-style3 li:last-child a p{margin-bottom: 0;}


/*zj*/

.panel-info-style4 li a{color:#3465cc;line-height:1.8em;}
.panel-info-style4 li a>em{font-style:normal;color:#fe0002;}
.panel-info-style4 li a>span{color:#fe0002;}

.panel-keyword{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;}
.panel-keyword .panel-heading{background: url(../img/list-table-bg.png) repeat-x; padding: 8px 15px;}
.panel-keyword .panel-title{color:#fe0002;}
.panel-keyword-style h5{color:#fe0002;position:relative;padding-left:25px;}
.panel-keyword-tt{position:absolute;background:url(../img/key-bg.png) no-repeat;width:18px;height:18px;left:0;top:-1px;}
.panel-keyword-bg2{background-position: 0 -18px;}
.panel-keyword-bg3{background-position: 0 -36px;}
.panel-keyword-bg4{background-position: 0 -54px;}
.panel-keyword-bg5{background-position: 0 -72px;}
.panel-keyword-bg6{background-position: 0 -90px;}
.panel-keyword-bg7{background-position: 0 -108px;}
.panel-keyword-bg8{background-position: 0 -126px;}
.panel-keyword-bg9{background-position: 0 -144px;}
.panel-keyword-bg10{background-position: 0 -162px;}
.panel-keyword-bg11{background-position: 0 -180px;}
.panel-keyword-bg12{background-position: 0 -198px;}
.panel-keyword-bg1{background-position: 0 0;}

.panel-info-style5 ul{margin-bottom:0;}
.panel-info-style5 a{line-height:1.8em;color:#3465cc;position:relative;padding-left:10px;display:block;overflow:hidden;white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;}
.panel-info-style5 a:before{content:'';position:absolute;width:4px;height:4px;background-color:#3465cc;left:0;top:10px;margin-top:-2px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.panel-info-style6 li{line-height:1.8em;color:#3465cc;padding-left:20px;}
.panel-info-style6 li span{color:#fe0002;}

.panel-keyword-style li a{padding:0 5px;margin:5px 0;display:inline-block;color:#3465cc;}
.panel-keyword-style li a+a{border-left:1px solid #3465cc;}
